html, body {
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: rgb(13, 13, 57);
  color: white;
}

/* 2. Prevent padding from adding to element width */
* {
  box-sizing: border-box;
}

.connect-botton {
  background-color: orange;
  font-weight: bolder;
  border: none;
  padding: 10px;
  width: 105px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.connect-botton:hover {
  background-color: white;
  color: orange;
  border: 2px solid orange;
}

.hero-container {
  margin-bottom: 3rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;

}

.section-paragraph {
  color: orange;
  margin: 0;
}

.about-me {
  margin-bottom: 4rem;
}

.company-date {
  display: flex;
  justify-content: space-between;
}

.experience-container{
  display: flex;
  gap: 20px;
}

.experience-card{
  padding: 10px;
  border: 1px solid orange;
  border-radius: 20px;
  transition: opacity 0.18s;
}

.experience-card:hover {
  opacity: 0.7;
}

.download-button{
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  width: 300px;
}

a{
  text-decoration: none;
  color: inherit;
}

.download-button:hover{
  background-color: orange;
  color: white;
}

.experience {
  margin-bottom: 3rem;
}

.skills {
  margin-bottom: 3rem;
}

.skill-button-container {
  display: flex;
  gap: 30px;
}

.skill-button{
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
  height: 30px;
  width: 100px;
}

.skill-button:hover {
  background-color: orange;
  color: white;
}

.project-button {
  border: none;
}

.project-container {
  display: flex;
  gap: 20px;
}

.project-card {  
  padding: 10px;
  border-radius: 20px;
  /* Set a starting border color and width so it can animate */
  border: 2px solid transparent; 
  /* Combine multiple transitions into a single line separated by a comma */
  transition: box-shadow 0.25s, border-color 0.18s;
}

.project-card:hover {
  border-color: orange;
  box-shadow: 10px 10px 10px rgba(172, 143, 143, 0.3);
}

.project-button-container{
  display: flex;
  gap: 20px;
}


@media (max-width: 560px) {
  .experience-container, .project-container {
    flex-direction: column;
  }

  .hero-container {
    flex-direction: column;
  }
}